@(message:String)
@import helper._

@main("Play2TwitterClient - About") {

<h1>Play2TwitterClient</h1>

<h2>About</h2>
<div>
Playframework2とScalaを使い、Twitterクライアントが作ってみたかった。<br>
作者：<a href="https://twitter.com/tattyamm" title="えんたつ (tattyamm)さんはTwitterを使っています">@@tattyamm</a><br>
</div>

<div>
    <ul>
        <li>
            <h4><a href="./timeline">タイムライン</a></h4>
        </li>
        <li>
            <h4><a href="./auth">ログイン</a></h4>
        </li>
        <li>
            <h4><a href="./logout">ログアウト</a></h4>
        </li>
    </ul>
</div>

}


